.logo {
    float: left;
    width:  200px;
    height: 60px;
    margin: 15px 30px;
    background: url("../../../assets/img/company-logo.svg") left top / 100% auto no-repeat;
}

.menu {
    float: right;
    text-align: right;
    margin: 15px 30px;
}